.footer {
    /* border: 1px solid orange; */
    
    display: flex;
    justify-content: center;
    gap: 25px;
}

.footer img {
    font-size: 10px;
    border: 1px solid gray;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.footer img:hover {
    color: blue;
}

.footer + p {
    text-align: center;
    color: hsl(0, 0%, 59%);
    margin: 2rem 0;
}