.form {
    /* border: 1px solid #363636; */
    position: relative;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    transition: ease-in 100ms;
}

.form input {
    padding: 1rem 18px;
    margin-right: 10px;
    border:2px solid hsl(223, 100%, 88%);
    border-radius: 28px;
    font-size: 16px;
    outline: none;
    width: 20rem;
}

.form label {
    color: hsl(354, 100%, 66%);
    margin-bottom: 17px;
    font-style: italic;
    position: absolute;
    bottom: -50px;
    left: 450px;
}

.form button {
    padding: 1rem 3rem;
    border-radius: 28px;
    background-color: hsl(223, 87%, 63%);
    box-shadow: 0 1px 15px hsl(223, 87%, 63%);
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
}

::placeholder {
    color: hsl(223, 100%, 88%);
}
@media screen and (max-width: 1100px) {
    .form + div img {
        width: 1000px;
    }
    .form label {
        left: 250px;
     }
}

@media screen and (max-width: 800px){
    .form + div img {
        width: 700px;
    }

    .form label {
       left: 150px;
    }
}

@media screen and (max-width: 700px) {
    .form + div img {
        width: 600px;
    }
}

@media screen and (max-width: 600px){
    .form + div img {
        width: 500px;
    }
}

@media screen and (max-width: 500px) {
    .form {
        flex-direction: column;
        width: 30rem;
    }
    .form input{ 
        width: 88vw;
        margin-bottom: 10px;
    }
    .form label {
        position: relative;
        bottom: 0;
        left: 0;
    }
    .form button {
        width: auto;
        font-weight: bold;
        letter-spacing: 1px;
    }
    .form + div {
        margin: 6rem 0;
    }
    .form + div img{
        width: 450px;
    }
}

